# Dependencies
node_modules/

# Next.js
.next/
out/
next-env.d.ts

# Turbo
.turbo/

# Build
dist/
generated/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store

# IDE
.vscode/
.idea/

# tsbuildinfo
**/*.tsbuildinfo
